<div id="container">
  <div id="wrapper">
    <a class="logo" href="#home">
      <img src="/assets/logo.png" alt="saint-marie-logo" />
    </a>
    <div id="menu">
      <ul>
        <li *ngFor="let content of GetHollowButtons()">
          <floating-button
            href="{{ content.href }}"
            (click)="(content?.fragment)"
            >{{ content.name }}</floating-button
          >
        </li>
      </ul>

      <filled-button
        *ngFor="let content of GetFilledButtons()"
        [hoverColor]="content.color!"
        [href]="content.href!"
        >{{ content.name }}</filled-button
      >
    </div>
    <i class="fa-solid fa-bars" (click)="ShowBarMenu()"></i>
  </div>
</div>
<div
  id="horizontalMenu"
  [style.display]="isHorizontalMenuOpen ? 'flex' : 'none'"
>
  <ul>
    <li *ngFor="let content of GetHollowButtons()">
      <floating-button
        href="{{ content.href }}"
        (click)="(content?.fragment)"
        >{{ content.name }}</floating-button
      >
    </li>
  </ul>

  <filled-button
    *ngFor="let content of GetFilledButtons()"
    [hoverColor]="content.color!"
    [href]="content.href!"
    >{{ content.name }}</filled-button
  >
</div>
