<app-header></app-header>
<div *ngIf="gameController.gameInfos; else requestUser" id="container">
  <div
    *ngIf="gameController.gameInfos.status !== gameStatus.AwaitingPlayers"
    class="gamebox"
  >
    <app-ownergamebox
      [gameController]="gameController"
      *ngIf="IsOwner(); else gameBox"
    ></app-ownergamebox>
    <ng-template #gameBox
      ><app-gamebox [gameController]="gameController"></app-gamebox
    ></ng-template>
  </div>

  <mobile-selectcard
    *ngIf="
      gameController.gameInfos.status !== gameStatus.AwaitingPlayers &&
      gameController.userInfos.roundRunning
    "
    [gameController]="gameController"
    id="mobile-selectcard"
  ></mobile-selectcard>

  <owner-playerbox
    class="playerbox"
    *ngIf="IsOwner(); else playerBox"
    [gameController]="gameController"
  ></owner-playerbox>
  <ng-template #playerBox
    ><app-playerbox
      class="playerbox"
      [gameController]="gameController"
    ></app-playerbox
  ></ng-template>
</div>
<ng-template #requestUser>
  <app-username-selector
    [gameController]="gameController"
    [uuid]="uuid"
  ></app-username-selector>
</ng-template>
