<div class="whiteBox">
  <div
    style="
      width: 80%;
      font-size: 1vw;
      text-align: center;
      margin: 10px auto;
      max-width: 180px;
    "
  >
    <div
      style="
        width: 90%;
        height: 0.7vw;
        background-color: gray;
        border-radius: 120px;
        margin: auto;
        overflow: hidden;
      "
    >
      <div
        [style.width]="percentage + '%'"
        style="height: 100%; background-color: #fa3d55; transition: all 0.2s"
      ></div>
    </div>
    TEMPORIZADOR DE 30 SEGUNDOS
  </div>
  <app-game-button
    *ngIf="
      IsOwner() && gameController.gameInfos?.status === gameStatus.AwaitingRound
    "
    (click)="gameController.StartRound()"
    >COMEÇAR</app-game-button
  >
</div>
