<div id="container">
  <p>Selecione o seu voto:</p>
  <app-yellowbox class="yellowbox">
    <div
      id="cardContent"
      (swipeleft)="PreviousCard()"
      (swiperight)="NextCard()"
    >
      <i class="fa-solid fa-arrow-left" (click)="PreviousCard()"></i>
      <div style="width: 40vw">
        <app-card
          [fontSize]="9"
          [number]="GetCardNumber()"
          (click)="gameController?.SelectCard(GetCardNumber())"
        ></app-card>
      </div>
      <i class="fa-solid fa-arrow-right" (click)="NextCard()"></i>
    </div>
  </app-yellowbox>
</div>
