<div style="width:60vw;margin-right:2vw;height: 85vh;position: relative;">
<app-yellowbox>
    <app-yellowseparator>
      <h1>
        <div
          *ngIf="
            gameController.gameInfos?.actualTopic === undefined;
            else gameTopic
          "
        >
          Tópico da rodada
        </div>
        <ng-template #gameTopic>{{
          gameController.gameInfos?.actualTopic
        }}</ng-template>
      </h1>
    </app-yellowseparator>
  
    <div *ngIf="gameController.userInfos.roundRunning">
      <p><b>SELECIONE SEU VOTO:</b></p>
      <div
        style="display: flex; flex-wrap: wrap; gap: 1vw; justify-content: center"
      >
        <div *ngFor="let card of gameController.gameInfos?.cards">
          <app-card
                  width="9vw"
                  [fontSize]="1"
                  [number]="card.toString()"
                  (click)="gameController.SelectCard(card.toString())"
              />
        </div>
      </div>
    </div>

    <div *ngIf="gameController.gameInfos?.status === gameStatus.ShowResults">
      <p><b>RESULTADOS:</b></p>
      <div style="display:flex;justify-content:center;">
        <app-results [gameController]="gameController" />
      </div>
    </div>
  </app-yellowbox>
</div>