#separator {
  margin: 50vw 0;
  display: none;
}
.app-card {
  width: 9vw;
}
#cardsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
}
#desktopSelectCard {
  height: 100%;
  position: relative;
}
@media screen and (max-width: 800px) {
  #desktopSelectCard {
    display: none;
  }
  #separator {
    display: block;
  }
}
