<div id="container">
  <div id="wrapper">
    <div class="col-a">
      <header>
        <h3>Planejamento simples, ágil e divertido!</h3>
        <h1>A maneira mais divertida de estimar qualquer atividade!</h1>
        <p>
          Indepentende do tipo de atividade que você vai realizar, seja ela
          simples ou complexa, sempre vai existir uma variação da estimativa
          para realiza-la.
        </p>
      </header>
    </div>
    <div class="col-b">
      <img src="/assets/banner.png" alt="Banner" />
    </div>
  </div>
</div>
