<app-yellowbox>
  <app-yellowseparator [ngSwitch]="gameController.gameInfos?.status">
    <h1 *ngSwitchCase="gameStatus.AwaitingPlayers">Aguardando Jogadores</h1>
    <h1 *ngSwitchCase="gameStatus.AwaitingRound">Aguardando Round</h1>
    <h1 *ngSwitchCase="gameStatus.RoundStarted">Vote na sua opção</h1>
    <h1 *ngSwitchCase="gameStatus.RoundEnded">Aguarde pelos Resultados</h1>
    <h1 *ngSwitchCase="gameStatus.ShowResults">Confira os Resultados</h1>
  </app-yellowseparator>
  <h2>Jogadores:</h2>
  <div id="playersDiv">
    <p *ngFor="let player of gameController.gameInfos?.players">
      <i class="fa-solid fa-user"></i>
      {{ player.userName }}
      <i *ngIf="player.owner" class="fa-solid fa-crown"></i>
    </p>
  </div>
  <div id="separator"></div>
  <div id="buttonsContent">
    <app-game-cronometer
      *ngIf="gameController.gameInfos?.status !== gameStatus.AwaitingPlayers"
      [gameController]="gameController"
      [percentage]="gameController.userInfos.width"
    ></app-game-cronometer>
    <share-button></share-button>
    <div style="margin-left: 3%; margin-top: 1vw"></div>
  </div>
</app-yellowbox>
