<div id="container">
  <div id="infos">
    <h1>Crie sua planning</h1>

    <div class="alternative">
      <span>♣</span>
    </div>

    <form [formGroup]="gameData">
      <span>Sistema de votação</span>
      <dropdown-selector
        class="dropdown"
        [options]="[
          { name: 'Fibonacci', value: 'fibonacci' },
          { name: 'Sequência', value: 'sequencia' }
        ]"
        formControlName="votingMethod"
      ></dropdown-selector>

      <span>Usuário</span>
      <input type="text" formControlName="userName" />
      <div class="filledBtnContainer" (click)="CreateGame()">
        <filled-button-no-href hoverColor="--outro-rosa" color="--bg-grey"
          >Crie uma nova planning</filled-button-no-href
        >
      </div>
    </form>
  </div>
  <div class="images">
    <img src="/assets/banner.png" alt="Mobile" />
    <div class="circle"></div>
  </div>
</div>
