<div id="container">
  <div id="wrapper">
    <div class="col-a">
      <div class="box-1">
        <p>
          Vamos assumir que a partir de agora estamos em uma Sprint Planning e
          seu time é composto por 04 pessoas e iremos estimar os itens do topo
          do Product Backlog.
        </p>
      </div>

      <div class="box-2">
        <p>
          Como o PO já apresentou os itens priorizados, os membros do time, em
          consenso, devem definir qual o menor item dentre os selecionados para
          a planning. Será a partir desse menor item que o time irá começar a
          sua comparação.
        </p>
      </div>

      <div class="box-3">
        <p>
          Todos devem escolher sua carta sem mostrar para outra pessoa do time e
          jogar ao mesmo tempo.
        </p>
      </div>
    </div>

    <div class="col-b">
      <img src="/assets/card.png" alt="pizzaiolo" />
    </div>
  </div>
</div>
